@import '../globals/variables.scss';

.heroWrapper {
  margin-bottom: 4rem;

  @include breakpoint($tablet) {
    margin-bottom: 12rem;
  }
}

.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;

  &:before {
    background-color: $black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.paragraphHolder {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $white;
  font-size: 5rem;
  font-family: $sans;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $white;
  text-align: center;
  line-height: 1.25;
}

.intro {
  text-align: center;
  font-size: 2.5rem;
  width: 80vw;
  margin: 0 auto;
  color: $white;
  font-style: italic;
  line-height: 1.25;
}
