@import '../globals/variables.scss';

.cardWrapper {
  max-width: 144rem;
  margin: 0 auto;
}

.cardHolder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  @include breakpoint($tablet) {
    flex-wrap: nowrap;
  }
}
