@import '../globals/variables.scss';

.photoBlock {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint($tablet) {
    margin-bottom: 6rem;
  }
}

.photoBlockSpread {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint($tablet) {
    margin-bottom: 6rem;
  }
}

.photoBlockFullBleed {
  max-width: 100%;
  padding: 0;
  @include breakpoint($tablet) {
    margin-bottom: 6rem;
  }

  .imageContainer {
    padding: 0;
  }
}

.photoBlockStackRight {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint($tablet) {
    margin-bottom: 6rem;
  }

  .imageContainer:last-child {
    flex-grow: 2.25;
  }
}

.photoBlockStackLeft {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint($tablet) {
    margin-bottom: 6rem;
  }

  .imageContainer:first-child {
    flex-grow: 2.25;
  }
}

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageContainer {
  flex-grow: 1;
  min-width: 50%;
  flex-basis: 0;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 4rem;

  @include breakpoint($tablet) {
    margin-bottom: 2rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  padding: 0 3rem;
  font-size: $fs-2;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 4rem;

  @include breakpoint($tablet) {
    margin: 1rem 0 2rem;
  }
}
