@import '../globals/variables.scss';

.heroWrapper {
  margin-bottom: 12rem;
}

.header {
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 3rem;

  &:before {
    background-color: $black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.title {
  color: $white;
  font-size: 6vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.intro {
  text-align: center;
  font-size: 3vw;
  width: 80vw;
  margin: 0 auto;
}
