@import '../globals/variables.scss';

.homepageCard {
  margin: 0 1.5rem 3rem;
  position: relative;
  width: 100%;

  @include breakpoint(tablet) {
    flex-grow: 1;
    width: auto;
  }

  &:first-child {
    @include breakpoint(tablet) {
      margin-left: 0;
    }
  }

  &:last-child {
    @include breakpoint(tablet) {
      margin-right: 0;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  background-color: $black;
  color: $white;
  font-family: $sans;
  font-size: $fs-3;
  opacity: 0.8;
  padding: 1rem 4rem;
  position: absolute;
  right: 0;
  top: 10%;
  line-height: 1.5;
}
